<div class="container mainbody" dir="rtl">
  <div class="row p-5">
    <div class="col-md-8">
      <img src="../../assets/images/trade-logo-big.png" alt="" />
      <p>
        מפסיקים להיות פראיירים. מצטרפים לחבר הבורסה הגדול בישראל* משלמים פחות
        עמלות במסחר בבורסה ונהנים מחבילת הצטרפות מצוינת. מתאים ללקוחות כל
        הבנקים.
      </p>
      <h1>למה זה מתאים לכם?</h1>
      <br />
      <br />
      <div class="row text-center advantages">
        <div class="col">
          <img src="../../assets/images/ICONS-4.png" alt="" />
          <br />
          <span style="background-color: #26cc00"></span>
          <p>עמלות מסחר אטרקטביות</p>
        </div>
        <div class="col">
          <img src="../../assets/images/ICONS-5.png" alt="" />
          <br />
          <span style="background-color: #26cc00"></span>
          <p>מערכות מסחר מתקדמות</p>
        </div>
        <div class="col">
          <img src="../../assets/images/ICONS-6.png" alt="" />
          <br />
          <span style="background-color: #26cc00"></span>
          <p>חבילת השירות הטובה ביותר</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center" dir="ltr">
      <img
        src="../../assets/images/stocks_icon.png"
        alt=""
        margin-bottom="50px"
      />
      <div class="marketingVideo text-center">
        <p>עוד על מסחר עצמאי:</p>
        <iframe
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/SKUKfoBHYzQ?controls=0"
        ></iframe>
      </div>
      <div
        class="joinButton"
        [routerLink]="['/join']"
        routerLinkActive="router-link-active"
      >
        <button class="btn"><h2>Online הצטרפו עכשיו</h2></button>
      </div>
    </div>
  </div>
  <!-- חצי שני של הדף -->

  <h1 class="qanda text-center">שאלות ותשובות</h1>
  <div class="container row">
    <!-- טור שמצאל -->
    <div class="container col-md-6">
      <div class="accordion" id="accordi1xample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading1">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse1"
              aria-expanded="false"
              aria-controls="collapse1"
            >
              מי אנחנו?
            </button>
          </h2>
          <div
            id="collapse1"
            class="accordion-collapse collapse show"
            aria-labelledby="heading1"
            data-bs-parent="#accordi1xample"
          >
            <div class="accordion-body">
              מיטב דש טרייד בע"מ, היא חברה המספקת שירותי השקעה ומסחר בבורסות
              בארץ ובעולם. לקוחות החברה הינם משקיעים או סוחרי יום, המעוניינים
              להשקיע בשוק ההון באופן עצמאי או באמצעות משווקי השקעות.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading2">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse2"
              aria-expanded="false"
              aria-controls="collapse2"
            >
              כמה כסף פנוי אני צריך כדי להתחיל לסחור דרככם?
            </button>
          </h2>
          <div
            id="collapse2"
            class="accordion-collapse collapse"
            aria-labelledby="heading2"
            data-bs-parent="#accordi1xample"
          >
            <div class="accordion-body">
              רף המינימום לפתיחת חשבון עומד על 15 אלף שקלים, בין אם אתם משקיעים
              לטווח ארוך, או משקיעים לטווח קצר.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading3">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse3"
              aria-expanded="false"
              aria-controls="collapse3"
            >
              יש לי כסף בפק''מ. כדאי להעביר אותו למסחר עצמאי בבורסה?
            </button>
          </h2>
          <div
            id="collapse3"
            class="accordion-collapse collapse"
            aria-labelledby="heading3"
            data-bs-parent="#accordi1xample"
          >
            <div class="accordion-body">
              בפק"מ תקבלו ריבית ותשואה נמוכות מאוד, כמעט אפסיות. בבורסה, לעומת
              זאת, קיים מגוון רחב של אפיקי השקעה, מסולידיים עד תנודתיים, וכל
              משקיע יכול להשקיע בהתאם לרמת הסיכון שמתאימה לו, עם אפשרות להשגת
              תשואה בהתאם. בניגוד לעבר הלא רחוק, שוק ההון כיום אינו נגיש למומחים
              בלבד. קיימים מגוון כלים פיננסיים, כגון קרנות נאמנות, אשר מקלים על
              ביצוע ההשקעה, על תחזוקת ההשקעה ועל פיזור הסיכונים.
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- טור ימין -->
    <div class="container col-md-6">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="false"
              aria-controls="collapseOne"
            >
              אני כבר סוחר בבורסה, דרך הבנק שלי. כדאי לי לעבור לסחור דרך מיטב דש
              טרייד?
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              התשובה היא כן ואחת הסיבות לכך היא עמלות המסחר. מי שסוחר בשוק ההון
              דרך הבנק, לרוב משלם לבנק עמלות רבות ומיותרות על תיק ניירות הערך.
              העמלות שוחקות את תשואת התיק, כלומר: מקטינות את הרווחים. מאחר שאתם
              לא פראיירים, למה שתשלימו עם מצב כזה? סיבות נוספות הן שירות וליווי
              מקצועי לאורך שעות המסחר, מערכות מסחר מתקדמות, קורסים ללא עלות
              ועוד.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              מה ההבדלים בתנאי העמלות בין מיטב דש טרייד לבין הבנקים?
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              ארבע עמלות שנגבות על ידי הבנקים מכאיבות במיוחד למשקיעים בשוק ההון:
              עמלת קנייה, עמלת מכירה, עמלת אי ביצוע ועמלת דמי משמרת. במסחר דרך
              מיטב דש טרייד, אתם נהנים מפטור מדמי משמרת, פטור מעמלות אי ביצוע
              ופטור מעמלות עדכון/ביטול הוראה. רוב הלקוחות גם נהנים מפטור מעמלת
              ציטוטים בניירות ערך זרים. כמו כן, אתם נהנים מעמלות אטרקטיביות
              למכירה וקנייה בבורסת ת"א ובבורסות בעולם, עמלת מינימום נמוכה, פטור
              מעמלת המרת מט"ח ושערים אטרקטיביים בהמרה. כל אלה יכולים לעשות הבדל
              של עשרות אחוזים בתשואת התיק שלכם.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              יש לי כסף בפק''מ. כדאי להעביר אותו למסחר עצמאי בבורסה?
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              בפק"מ תקבלו ריבית ותשואה נמוכות מאוד, כמעט אפסיות. בבורסה, לעומת
              זאת, קיים מגוון רחב של אפיקי השקעה, מסולידיים עד תנודתיים, וכל
              משקיע יכול להשקיע בהתאם לרמת הסיכון שמתאימה לו, עם אפשרות להשגת
              תשואה בהתאם. בניגוד לעבר הלא רחוק, שוק ההון כיום אינו נגיש למומחים
              בלבד. קיימים מגוון כלים פיננסיים, כגון קרנות נאמנות, אשר מקלים על
              ביצוע ההשקעה, על תחזוקת ההשקעה ועל פיזור הסיכונים.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="additionalProducts container text-center">
  <h2>מוצרים נוספים שיכולים לעניין אתכם</h2>
  <!-- מוצרים נוספים -->
  <div class="container additionalProducts row p-2">
    <div class="card col">
      <img
        src="../../../assets/images/kids-logo.png"
        class="card-img-top"
        alt="..."
      />
      <img
        src="../../../assets/images/AvailableMoney_Products_icons.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <p class="card-text">
          פתחו עבור הילדים שלכם חיסכון שיעזור להם להגשים חלומות.
        </p>
        <button class="additionalInfoButton btn"><h3>למידע נוסף</h3></button>
      </div>
    </div>
    <div class="card col">
      <img
        src="../../../assets/images/gemel-logo.png"
        class="card-img-top"
        alt="..."
      />
      <img
        src="../../../assets/images/shekel_mark_icon.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <p class="card-text">
          אל תתנו לעתיד להפתיע אתכם פתחו תכנית חיסכון במיטב דש גמל להשקעה.
        </p>
        <button class="additionalInfoButton btn"><h3>למידע נוסף</h3></button>
      </div>
    </div>
    <div class="card col">
      <img
        src="../../../assets/images/investments-logo.png"
        class="card-img-top"
        alt="..."
      />
      <img
        src="../../../assets/images/money_bag_icon.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <p class="card-text">
          נהלו תיק השקעות ותיהנו מניהול חכם, מיקצועי ובהתאמה אישית
        </p>
        <button class="additionalInfoButton btn"><h3>למידע נוסף</h3></button>
      </div>
    </div>
  </div>
</div>
